body, html {
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 300;
  background: lighten(#ccc, 10%);
}

* {
  box-sizing: border-box;
}